<!DOCTYPE html>
<html lang="en">
<head>
	<title>Plotomation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--CSS files referenced here-->
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<!--Create login container-->
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            
            <span class="login100-form-title p-b-41"><h1><%= plot_name %></h1>
                <br>
                <h3>Theme</h3>
                <h5>
                    <table>
                <tr> 
                    <td>Year</td>
                    <td>Story Arcs</td>
                    <td>World</td>
                    <td>Goal</td>
                </tr>
                <tr>
                    <td><%= year %></td>
                    <td><%= storyArcs %></td>
                    <td><%= world %></td>
                    <td><%= goal %></td>
                </tr>
                    </table>
                </h5>
                <!--Checks if quests is empty-->
                <%if(quests.length>0) { %>
                    <br>
                    <h3>Quests</h3>
                    <h5>
                        <table>
                    <tr>
                        <td>Goal</td>
                        <td>Reward</td>
                        <td>Assignee</td>
                    </tr>

                <% for(let i=0;i<quests.length; i++) { %>
                    <tr> 
                        <td><%=quests[i].goal %></td>
                        <td><%=quests[i].reward %></td>
                        <td><%=quests[i].assignee %></td>
                    </tr> 
                <% } %>
                        </table>
                    </h5>
                <% } %>
     
             <!--Displays Characters-->
             <%if(characters.length>0) { %>
                <br>
                <h3>Characters</h3>
                <h5>
                    <table>
                    <tr>
                        <td>Name</td>
                        <td>Class</td>
                        <td>Description</td>
                        <td>Gender</td>
                        <td>Personality</td>
                        <td>Race</td>
                    </tr>

            <% for(let i=0;i<characters.length; i++) { %>
            <tr> 
                <td><%=characters[i].name %></td>
                <td><%=characters[i].class %></td>
                <td><%=characters[i].description %></td>
                <td><%=characters[i].gender %></td>
                <td><%=characters[i].personality %></td>
                <td><%=characters[i].race %></td>
            </tr> 
            <% } %>
                    </table>
                </h5>
            <% } %>
    
        <br>
        <% let flag = false; %>
        <!--Display countries,cities and shops-->
        <h3>Locations</h3>
        <h5>
                <table>
                <tr>
                    <td>Type</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Owner</td>
                    <td>Origin</td>
                </tr>

            <% for(let i=0; i<countries.length; i++) { %>
                <tr> 
                    <td><%=countries[i].type %></td>
                    <td><%=countries[i].name %></td>
                    <td><%=countries[i].description %></td>
                    <td><%=countries[i].owner %></td>
                    <td><%=countries[i].origin %></td>
                </tr>

                <!-- Display cities in countries -->
            <% if(countries[i].cities.length>=1 && countries[i].cities[0].name) { %>
            <% for(let j=0; j<countries[i].cities.length; j++) { %>    
                <tr> 
                    <td><%=countries[i].cities[j].type %></td>
                    <td><%=countries[i].cities[j].name %></td>
                    <td><%=countries[i].cities[j].description %></td>
                    <td><%=countries[i].cities[j].owner %></td>
                    <td><%=countries[i].cities[j].origin %></td>
                </tr>
            
            <!-- Display shops in cities -->
            <% if(countries[i].cities[j].shops.length>=1 && countries[i].cities[j].shops[0].name) { %>
            <% for(let k=0; k<countries[i].cities[j].shops.length; k++) { %> 
                <tr> 
                    <td><%=countries[i].cities[j].shops[k].type %></td>
                    <td><%=countries[i].cities[j].shops[k].name %></td>
                    <td><%=countries[i].cities[j].shops[k].description %></td>
                    <td><%=countries[i].cities[j].shops[k].owner %></td>
                    <td><%=countries[i].cities[j].shops[k].difficulty %></td>
                </tr>
            <% }}}} %>


            <!-- Display general in countries -->
            <% if(countries[i].locations.length>=1 && countries[i].locations[0].name) { %>
                <% for(let l=0; l<countries[i].locations.length; l++) { %>    
                    <tr> 
                        <td><%=countries[i].locations[l].type %></td>
                        <td><%=countries[i].locations[l].name %></td>
                        <td><%=countries[i].locations[l].description %></td>
                        <td><%=countries[i].locations[l].owner %></td>
                        <td><%=countries[i].locations[l].origin %></td>
                    </tr>

                    <% if(countries[i].locations[l].encounters) { flag = true; } %>
            <% }}}%>
            </table>

            <%if(flag){%>
            <br> 
            <h3>Encounters</h3>
            <h5>
                <table>
                <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Difficulty</td>
                <td>Location</td>
                </tr>
                <% for(let p=0; p<countries.length; p++) { %>
                    <% if(countries[p].locations.length>=1 && countries[p].locations[0].name) { %>
                        <% for(let q=0; q<countries[p].locations.length; q++) { %>
                            <% if(countries[p].locations[q].encounters && countries[p].locations[q].encounters.length>=1) { %>
                                <% for(let r=0; r<countries[p].locations[q].encounters.length; r++) { %>
                                    <tr> 
                                        <td><%=countries[p].locations[q].encounters[r].name %></td>
                                        <td><%=countries[p].locations[q].encounters[r].description %></td>
                                        <td><%=countries[p].locations[q].encounters[r].difficulty %></td>
                                        <td><%=countries[p].locations[q].encounters[r].location %></td>
                                    </tr>
                <% }}}}}}%>
                </table>
            </h5>
        </span>
    </div>
</div>

	<div id="dropDownSelect1"></div>
	
<!--Bootstrap/JQuery/External JS files referenced here-->
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="javascripts/main.js"></script>

</body>
</html>