<!DOCTYPE html>
<html lang="en">
<head>
	<title>Plotomation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--CSS files referenced here-->
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<!--Create login container-->
		<div class="container-login100" style="background-image: url('/images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				
				<!--Login title-->
				<span class="login100-form-title p-b-41">
					Plotomation
				</span>
				
				<!--Forgot Password-->
				<form id="iForgot" class="login100-form validate-form p-b-33 p-t-5" method="post" onsubmit="event.preventDefault(); validateMyForm();">
		
					<div class="wrap-input100 validate-input" data-validate = "Enter new password">
						<input class="input100" type="password" id="newpwd" name="newpswd" placeholder="New Password" required="">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>
                    
                    <div class="wrap-input100 validate-input" data-validate = "Enter confirm password">
						<input class="input100" type="password" id="confpwd" name="pswdConf" placeholder="Confirm Password" required="">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button id="btn-frgtpwd" class="login100-form-btn" type="submit">
							Update Password
						</button>
					</div>
				</form>
				<br>
				<span class="login100-form-title p-b-41"><h5><%= message %></h5></span>
			</div>
		</div>
	</div>
	
	<!--Javascript for form validation with passwords upon submission-->
	<script type="text/javascript">
		var passWordField = document.getElementById('newpwd')
		var passWordConfirmField = document.getElementById('confpwd')
		var form = document.getElementById('iForgot')
		function validateMyForm(){
			if(passWordField.value != passWordConfirmField.value){ 
		    	alert("Passwords do not match. Please try again.");
		  	} else {
		  		form.submit()
		  	}
		}

	</script>	

	<div id="dropDownSelect1"></div>
	
<!--Bootstrap/JQuery/External JS files referenced here-->
<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/javascripts/main.js"></script>

</body>
</html>