<!DOCTYPE html>
<html lang="en">
<head>
	<title>Plotomation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--CSS files referenced here-->
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<!--Create login container-->
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				
				<!--Login title-->
				<span class="login100-form-title p-b-41">
					Plotomation
				</span>

				<div id="notification" class="alert alert-primary" role="alert">
					<p align="center">Email Sent!</p>
				  </div>

				<!--Login submission form for registered user-->
				<form id="login" class="login100-form validate-form p-b-33 p-t-6" action="/" method="post" >

					<div class="wrap-input100 validate-input" data-validate = "Enter email">
						<input class="input100" type="text" name="logemail" placeholder="E-mail">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="logpassword" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn" type="submit" onclick="document.forms[0].submit()">
							Login
						</button>
					</div>
					<br>
					<p id="registerMsg" align="center">Not registered? <a href="#"> Create an account</a></p>
					<p id="iForgotMsg" align="center"><a href="#">Forgot your Password?</a></p>
				</form>

				<!--Login submission form for new user-->
				<form id="register" class="login100-form validate-form p-b-33 p-t-5" action="/" method="post" onsubmit="event.preventDefault(); validateMyForm();" >

					<div class="wrap-input100 validate-input" data-validate = "Enter email">
						<input class="input100" type="text" name="email" placeholder="Email" required="">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="Username" required="">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password" id="password" required="">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="passwordConf" placeholder="Confirm Password" id="password_conf" required="">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn" type="submit" onclick="document.forms[1].submit()">
							Create
						</button>
					</div>
					<br>
					<p class="signinMessage" align="center">Already registered? <a href="#"> Sign In</a></p>
				</form>

				<!--Forgot Password-->
				<form id="iForgotPass" class="login100-form validate-form p-b-33 p-t-5" action="/forgot" method="post" >
		
					<div class="wrap-input100 validate-input" data-validate = "Enter email">
						<input class="input100" type="text" name="email" placeholder="E-mail" required="">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button id="btn-frgtpwd" class="login100-form-btn" type="submit" onclick="document.forms[2].submit()">
							Reset Password
						</button>
					</div>
					<br>
					<p class="signinMessage" align="center">All good?<a href="#"> Sign In</a></p>
				</form>
			
			</div>
		</div>
	</div>
	
	<!--Javascript for form validation with passwords upon submission-->
	<script type="text/javascript">
		var passWordField = document.getElementById('password')
		var passWordConfirmField = document.getElementById('password_conf')
		var form = document.getElementById('hello')
		function validateMyForm(){
			if(passWordField.value != passWordConfirmField.value){ 
		    	alert("Passwords do not match. Please try again.");
		  	} else {
		  		form.submit()
		  	}
		}

	</script>	

	<div id="dropDownSelect1"></div>
	
<!--Bootstrap/JQuery/External JS files referenced here-->
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="javascripts/main.js"></script>

</body>
</html>