<!DOCTYPE html>
<html lang="en">

<!--
*****NOTE*****
Main/main.html converted and moved -> views/MainPage/main.ejs
Main/js/mainServer.js moved -> public/javascripts/mainServer.js
-->
<!--TO-DO (Must Haves):
    1.) Send table data to back end
-->

<!--TO-DO (Bug Fixes/Nice-to-haves):
    1.) Fix Random (R) buttons by not having rounded edges on input side
    2.) Make randomize for Difficulty/CR weighted towards 5-15
    3.) Randomly pick for Encounter location and location origin if options are available
    4.) Display current user name in top-left corner in NavBar
-->

<!--Display the Main page for our project, with navBar functionality-->

<head>
	<title>Plotomation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--CSS files referenced here; any adjustment made here will also need to be done to index.html, and vice-versa-->

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>

<body>
    <!--Code for the NavBar-->
    <nav class="navbar navbar-fixed-top navbar-dark" style="background: #d47872;
    background: -webkit-linear-gradient(left, #a495b2, #d47872, #ff4299);
    background: -o-linear-gradient(left, #a495b2, #d47872, #ff4299);
    background: -moz-linear-gradient(left, #a495b2, #d47872, #ff4299);
    background: linear-gradient(left, #a495b2, #d47872, #ff4299);">
        <!--Dropdown toggle for NavBar-->
        <a class="navbar-brand" id="uname" href="#">Welcome back <%= username %>!</a>

        <li class="nav-item dropdown hidden-md-down">
            <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Options</strong>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="right: 0; left: auto;">
                <a id="changePass" class="dropdown-item"><strong>Change Password</strong></a>
                <a id="logout" class="dropdown-item"><strong>Logout</strong></a>
            </div>
        </li>
    </nav>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50" style="width: 825px;">
                <!--Main title-->
                <span class="login100-form-title p-b-41">
                    Plotomation
                </span>

                <!--The form for gathering, randomizing and submitting data-->
                <div class="login100-form validate-form p-b-33 p-t-6" id="form1">
                    <div class="main-component" style="margin: 20px;">
                        <!--Data for # of story arcs-->
                        <label for="txtArc">How many story arcs?</label>
                        <div class="btn-group mr-2" role="group" id="arc" aria-label="First group">
                            <button type="button" class="btn btn-secondary" id="arc1" name="radArcs" value="1">1</button>
                            <button type="button" class="btn btn-secondary" id="arc2" name="radArcs" value="2">2</button>
                            <button type="button" class="btn btn-secondary" id="arc3" name="radArcs" value="3">3</button>
                            <button type="button" class="btn btn-secondary" id="arc4" name="radArcs" value="4">4</button>
                            <button type="button" class="btn btn-secondary" id="arc5" name="radArcs" value="5">5</button>
                        </div>
                        </br></br>
                        <!-- Story Title -->
                        <div class="input-group mb-3">
                            <input type="text" class="form-control bg-light" id="sTitletxt" placeholder="Story Title" aria-label="Story Title" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="sTitle" onclick="getRandomAttribute(this.id)">R</button>
                            </div>
                        </div>

                        <div class="accordion" id="dataItems">
                            <div class="card">
                                <!--Characters collapsable item-->
                                <div class="card-header" id="headingOne" style="background: #d46872;
                                background: -webkit-linear-gradient(left, #a495b2, #d46872, #ff4299);
                                background: -o-linear-gradient(left, #a495b2, #d46872, #ff4299);
                                background: -moz-linear-gradient(left, #a495b2, #d46872, #ff4299);
                                background: linear-gradient(left, #a495b2, #d46872, #ff4299);">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Characters
                                        </button>
                                    </h2>
                                </div>
                                <!--Characters info presented here-->
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#dataItems">
                                    <div class="card-body">
                                        <!--Character info lock-->
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="cCheck" style="margin-left: auto;">
                                            <label class="form-check-label" for="cCheck">Lock info</label>
                                        </div>
                                        <!--Character name-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="cNametxt" placeholder="Name" aria-label="Name" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="cName" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Character gender-->
                                        <div class="form-group">
                                            <div class="btn-group mr-2" role="group" id="gender" aria-label="Second group">
                                                <button type="button" class="btn btn-secondary" name="radGender" id="gender1" value="Male">Male</button>
                                                <button type="button" class="btn btn-secondary" name="radGender" id="gender2" value="Female">Female</button>
                                                <button type="button" class="btn btn-secondary" name="radGender" id="gender3" value="Other">Other</button>
                                            </div>
                                        </div>
                                        <!--Character physical description-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="cDescriptiontxt" placeholder="Physical description" aria-label="Physical description" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="cDescription" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Character race-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="cRacetxt" placeholder="Race" aria-label="Race" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="cRace" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Character class-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="cClasstxt" placeholder="Class" aria-label="Class" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="cClass" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Character personality-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="cPersonalitytxt" placeholder="Personality" aria-label="Personality" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="cPersonality" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Character extra info-->
                                        <div class="form-group">
                                            <textarea class="form-control bg-light" id="cInfo" rows="3" placeholder="Extra Info" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);"></textarea>
                                        </div>
                                        <!--Character submit button-->
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" id="btnaddcharacterTable" onclick="fillInBlankInput(this.id)">Add to List</button>
                                        </div>
                                        <!--Character table information-->
                                        <div id="table" class="table-editable">
                                            <table id="characterTable" class="table table-bordered table-responsive-md table-striped text-center" style="table-layout:fixed; font-size: x-small;">
                                                <thead>
                                                    <tr>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Gender</th>
                                                    <th class="text-center">Description</th>
                                                    <th class="text-center">Race</th>
                                                    <th class="text-center">Class</th>
                                                    <th class="text-center">Personality</th>
                                                    <th class="text-center">Extra</th>
                                                    <th class="text-center"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--Starts empty-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <!--Quests collapsable item-->
                                <div class="card-header" id="headingTwo" style="background: #d45872;
                                background: -webkit-linear-gradient(left, #a485b2, #d45872, #fe4299);
                                background: -o-linear-gradient(left, #a485b2, #d45872, #fe4299);
                                background: -moz-linear-gradient(left, #a485b2, #d45872, #fe4299);
                                background: linear-gradient(left, #a485b2, #d45872, #fe4299);">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Quests
                                        </button>
                                    </h2>
                                </div>
                                <!--Quests info presented here-->
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#dataItems">
                                    <div class="card-body">
                                        <!--Quest info lock-->
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="qCheck" style="margin-left: auto;">
                                            <label class="form-check-label" for="qCheck">Lock info</label>
                                        </div>
                                        <!--Quest goal-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="qGoaltxt" placeholder="Goal" aria-label="Goal" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="qGoal" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Quest reward-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="qRewardtxt" placeholder="Reward" aria-label="Reward" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="qReward" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Quest assignee-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="qAssigneetxt" placeholder="Assignee" aria-label="Assignee" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="qAssignee" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Quest extra info-->
                                        <div class="form-group">
                                            <textarea class="form-control bg-light" id="qInfo" rows="3" placeholder="Extra Info" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);"></textarea>
                                        </div>
                                        <!--Quest submit button-->
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" id="btnaddquestTable" onclick="fillInBlankInput(this.id)">Add to List</button>
                                        </div>
                                        <!--Quest table information-->
                                        <div id="table" class="table-editable">
                                            <table id="questTable" class="table table-bordered table-responsive-md table-striped text-center" style="table-layout:fixed; font-size: x-small;">
                                                <thead>
                                                    <tr>
                                                    <th class="text-center">Goal</th>
                                                    <th class="text-center">Reward</th>
                                                    <th class="text-center">Assignee</th>
                                                    <th class="text-center">Extra</th>
                                                    <th class="text-center"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--Starts empty-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <!--Locations collapsable item-->
                                <div class="card-header" id="headingThree" style="background: #d44872;
                                background: -webkit-linear-gradient(left, #a475b2, #d44872, #fd4299);
                                background: -o-linear-gradient(left, #a475b2, #d44872, #fd4299);
                                background: -moz-linear-gradient(left, #a475b2, #d44872, #fd4299);
                                background: linear-gradient(left, #a475b2, #d44872, #fd4299);">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Locations
                                        </button>
                                    </h2>
                                </div>
                                <!--Locations info presented here-->
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#dataItems">
                                    <div class="card-body">
                                        <!--Location info lock & is from country/city check-->
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="lCheck" style="margin-left: auto;">
                                            <label class="form-check-label" for="lCheck">Lock info</label>
                                            <input type="checkbox" class="form-check-input" id="lCountryCheck" style="margin-left: auto;">
                                            <label class="form-check-label" for="lCountryCheck">Location featured in country/city</label>
                                        </div>
                                        <!--Location type-->
                                        <div class="form-group">
                                            <div class="btn-group btn-group-sm" role="group" id="location" aria-label="Third group">
                                                <button type="button" class="btn btn-secondary" name="radLType" id="location1" value="Country">Country</button>
                                                <button type="button" class="btn btn-secondary" name="radLType" id="location2" value="City">City</button>
                                                <button type="button" class="btn btn-secondary" name="radLType" id="location4" value="Shop">Shop</button>
                                                <button type="button" class="btn btn-secondary" name="radLType" id="location5" value="General">General</button>
                                            </div>
                                            <h8>(First submitted item will always be a Country)</h8>
                                        </div>
                                        <!--Location name-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="lNametxt" placeholder="Location Name" aria-label="Location Name" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="lName" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Location description-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="lDescriptiontxt" placeholder="Description" aria-label="Type/Descrption" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="lDescription" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Country/City of origin-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="lCountryNametxt" placeholder="Country/City of Origin (Shops come from cities, cities from countries)" aria-label="Country/City of Origin (Shops come from cities, cities from countries)" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);" disabled>
                                        </div>
                                        <!--Location owner-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="lOwnertxt" placeholder="Location Leader/Owner" aria-label="Location Leader/Owner" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="lOwner" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Location extra info-->
                                        <div class="form-group">
                                            <textarea class="form-control bg-light" id="lInfo" rows="5" placeholder="Extra Info" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);"></textarea>
                                        </div>
                                        <!--Location submit button-->
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" id="btnaddlocationTable" onclick="fillInBlankInput(this.id)">Add to List</button>
                                        </div>
                                        <!--Location table information-->
                                        <div id="table" class="table-editable">
                                            <table id="locationTable" class="table table-bordered table-responsive-md table-striped text-center" style="table-layout:fixed; font-size: x-small;">
                                                <thead>
                                                    <tr>
                                                    <th class="text-center">Type</th>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Description</th>
                                                    <th class="text-center">Country/City of Origin</th>
                                                    <th class="text-center">Owner</th>
                                                    <th class="text-center">Extra</th>
                                                    <th class="text-center"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--Starts empty-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <!--Tone/Theme collapsable item-->
                                <div class="card-header" id="headingFour" style="background: #d43872;
                                background: -webkit-linear-gradient(left, #a465b2, #d43872, #fc4299);
                                background: -o-linear-gradient(left, #a465b2, #d43872, #fc4299);
                                background: -moz-linear-gradient(left, #a465b2, #d43872, #fc4299);
                                background: linear-gradient(left, #a465b2, #d43872, #fc4299);">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Setting/Tone/Theme
                                        </button>
                                    </h2>
                                </div>
                                <!--Setting/Tone/Theme info presented here-->
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#dataItems">
                                    <div class="card-body">
                                        <!--Setting/Tone/Theme info lock-->
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="tCheck" style="margin-left: auto;">
                                            <label class="form-check-label" for="tCheck">Lock info</label>
                                        </div>
                                        <!--Setting/Tone/Theme overarching goal-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="tOverGoaltxt" placeholder="Overarching Goal" aria-label="Overarching Goal" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="tOverGoal" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Setting/Tone/Theme laconic description-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="tLaconictxt" placeholder="Laconic Description" aria-label="Laconic Description" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="tLaconic" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Setting/Tone/Theme world-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="tWorldtxt" placeholder="World" aria-label="World" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="tWorld" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Setting/Tone/Theme year-->
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control bg-light" id="tYeartxt" placeholder="Year" aria-label="Year" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="tYear" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <!--Encounter collapsable item-->
                                <div class="card-header" id="headingFive" style="background: #d42872;
                                background: -webkit-linear-gradient(left, #a455b2, #d42872, #fb4299);
                                background: -o-linear-gradient(left, #a455b2, #d42872, #fb4299);
                                background: -moz-linear-gradient(left, #a455b2, #d42872, #fb4299);
                                background: linear-gradient(left, #a455b2, #d42872, #fb4299);">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            Encounters
                                        </button>
                                    </h2>
                                </div>
                                <!--Encounter info presented here-->
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#dataItems">
                                    <div class="card-body">
                                        <!--Encounter info lock-->
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="eCheck" style="margin-left: auto;">
                                            <label class="form-check-label" for="eCheck">Lock info</label>
                                        </div>
                                        <!--Encounter battle/puzzle-->
                                        <div class="form-group">
                                            <div class="btn-group mr-2" role="group" id="eType" aria-label="Fourth group">
                                                <button type="button" class="btn btn-secondary" name="radBattle" id="eType1" value="Battle">Battle</button>
                                                <button type="button" class="btn btn-secondary" name="radBattle" id="eType2" value="Puzzle">Puzzle</button>
                                            </div>
                                        </div>
                                        <!--Encounter name-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="eNametxt" placeholder="Name" aria-label="Name" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="eName" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Encounter CR/Difficulty-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="eDifficultytxt" placeholder="CR/Difficulty" aria-label="CR/Difficulty" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary" type="button" id="eDifficulty" onclick="getRandomAttribute(this.id)">R</button>
                                            </div>
                                        </div>
                                        <!--Encounter location-->
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control bg-light" id="eLocationtxt" placeholder="Location" aria-label="Location" aria-describedby="basic-addon2" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);">
                                        </div>
                                        <!--Encounter extra info-->
                                        <div class="form-group">
                                            <textarea class="form-control bg-light" id="eInfo" rows="3" placeholder="Extra Info" style="box-shadow: 0 0 0 0.2rem rgba(97, 182, 185, 0.25);"></textarea>
                                        </div>
                                        <!--Encounter submit button-->
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" id="btnaddencounterTable" onclick="fillInBlankInput(this.id)">Add to List</button>
                                        </div>
                                        <!--Encounter table information-->
                                        <div id="table" class="table-editable">
                                            <table id="encounterTable" class="table table-bordered table-responsive-md table-striped text-center" style="table-layout:fixed; font-size: x-small;">
                                                <thead>
                                                    <tr>
                                                    <th class="text-center">Type</th>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">CR/Difficulty</th>
                                                    <th class="text-center">Location</th>
                                                    <th class="text-center">Extra</th>
                                                    <th class="text-center"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--Starts empty-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                             
                        <!--The button that creates the new user database information-->
                        <div class="container-login100-form-btn m-t-32">
                            <button class="login100-form-btn" id="btn1" type="submit" onclick="submit()">Create</button>
                        </div>
                        </br>
                        <!--Help text for the create button above-->
                        <small id="submitHelpBlock" class="form-text-center text-muted">
                            Any blank elements will be automatically randomized on submission. Any section with its info locked will not be randomized.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>

<!--Bootstrap/JQuery/External JS files referenced here-->
<!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="javascripts/mainServer.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>
</html>